body {
    margin: 0 10ex 0 10ex;
    padding: 0;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 2ex;
    color: #333;
    background-color: #444;
    /*  width:1080px;  */
}

pre {
    font-family: "Courier New", Courier, mono;

    font-style: normal;
    background-color: #FFFFFF;
    white-space: pre
}

h1 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 3ex;
    font-weight: 900;
    color: #666;
}

h2 {
    margin: 2ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 2ex;
    font-weight: 700;
    color: #444;
}

h3 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 1.6ex;
    font-weight: 700;
    color: #222;
}

p {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 2ex;
}

img {
    border: 0;
}

li {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex;
}

table {
    border-width: 0;
    empty-cells: show;
}

td, th {
    empty-cells: show;
    padding: .3ex .3ex;
    vertical-align: top;
    text-align: left;
    border-width: 0;
    border-spacing: 0;
    background-color: #ececec
}

th {
    font-weight: bold;
    background-color: #e2e2e2;
}

a, a:visited, a:link {
    color: #039;

    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

a:hover {
    color: #69f;
}
.quantity{
    display: inline-block;
    width:100px
}
a.add_delete_Button{
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
    width: 20px;
    display: inline-block;
    text-align: center;
}
a.Button, a.Button:link, a.Button:visited {
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
}

a.Button:hover {
    color: #000;
    background-color: #54c07a;
}

#Logo {
    width: 33.333%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #000;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#Logo {
    height: 9ex;
}

#Menu {
    width: 33.333%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #000;
    color: #eaac00;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    text-align: center;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

#Menu, #Menu a, #Menu a:link, #Menu a:visited, #Menu a:hover {
    color: #eaac00;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

body>#Menu {
    height: 9ex;
}

{
}

#Search {
    width: 33.333%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    text-align: center;
    background-color: #000;
    color: #eaac00;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#Search {
    height: 9ex;
}

#Search input {
    border-width: .1ex .1ex .1ex .1ex;
    border-style: solid;
    border-color: #aaa;
    background-color: #666;
    color: #eaac00;
}

#QuickLinks {
    text-align: center;
    background-color: #FFF;
    width: 100%;
}

#PoweredBy {
    width: 30%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #000;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#PoweredBy {
    height: 9ex;
}

#Banner {
    width: 70%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #000;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#Banner {
    height: 9ex;
}

#Content {
    margin: 0;
    padding: 0ex 0ex 0ex 0ex;
    width: 100%;
    color: #333;
    background-color: #FFF;
    border-width: 0;
}

#Separator {
    clear:both;
    margin: 0;
    height:0;
}

#Main {
    margin: 0;
    padding: 1ex;
    color: #333;
    background-color: #FFF;
    border-width: 1ex 0ex 2ex 0px;
    border-style: solid;
    border-color: #fff;
}

#Sidebar {
    float: left;
    background:inherit;
    width: 30%;
}

#MainImage {
    float: left;
    background:inherit;
    text-align:center;
    width: 40%;
}

#Catalog {
    padding: 1ex;
    background:#FFFFFF;
    text-align:center;
    width: 98.7%;
    /*display: flex;*/
    /*align-items: stretch;*/
}

#Catalog input[type="submit"]{
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
    border-width:0;
}
#Catalog input[type="submit"]:hover {
    color: #000;
    background-color: #54c07a;
    cursor:pointer;
}

#Catalog table{
    margin-left:auto;
    margin-right:auto;
}

#BackLink{
    padding: 1ex;
    float: right;
    border-width: .1ex 0ex .1ex 0px;
    border-style: solid;
    border-color: #000;
    width: 13%;
    background: white;
}

#Cart{
    width: 79.99%;
    float: left;
    background-color:#fff;
}

#MyList{
    width: 20%;
    float: left;
    background-color:#ccc;
    text-align:left;
}
#WelcomeContent {
    margin: 0;
    padding: 0ex 0ex 0ex 0ex;
    width: 100%;
    color: #000;
    background-color: white;
    border-width: 0;
    text-align: left;
}

#productAutoComplete {
    background: #ccc;
    position: relative;
    top: -23.6px;
    left: 130px;
    width: 171.8px;
    display: none;
}

#productAutoList{
    margin: 0;
    padding: 0;
    border: 1px solid #aaa;
}

.productAutoItem{
    list-style: none;
    height:20px;
    line-height: 20px;
    font-size: 10px;
    text-align: left;
    padding-left: 5px;
    margin-top:3px;
    border-bottom: 1px solid #666;
    color:#005e21;
    cursor:pointer;
}

.newOrder{
    display: none;
    position: absolute;
    top: 112px;
    left: 600px;
    z-index: 1000;
}
.newOrder-content{
    background-color: darkseagreen;
    border: 10px solid darkseagreen;
}
.overlay{
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
}
.confirmOrder{
    display: none;
    position: absolute;
    top: 112px;
    left: 600px;
    z-index: 1001;
}
.confirmOrder-content{
    background-color: darkseagreen;
    border: 10px solid darkseagreen;
}
#feedback{
    color: rgb(255,71,78);
}
#feedback_User{
    color: rgb(255,71,78);
}
#feedback_Account{
    color: rgb(255,71,78);
}
.cart_flex{
    display: flex;
    align-items: stretch;
}