<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>MainFormServlet</servlet-name>
        <servlet-class>csu.mypetstoree.web.servlet.MainFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainFormServlet</servlet-name>
        <url-pattern>/mainForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryFormServlet</servlet-name>
        <servlet-class>csu.mypetstoree.web.servlet.CategoryFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryFormServlet</servlet-name>
        <url-pattern>/categoryForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductFormServlet</servlet-name>
        <servlet-class>csu.mypetstoree.web.servlet.ProductFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductFormServlet</servlet-name>
        <url-pattern>/productForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ItemFormServlet</servlet-name>
        <servlet-class>csu.mypetstoree.web.servlet.ItemFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemFormServlet</servlet-name>
        <url-pattern>/itemForm</url-pattern>
    </servlet-mapping>
</web-app>